<!DOCTYPE html>
<html>
<head>
  <title>Kelp</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuqdQ0Im17DX3WDWlRi_c6vMi5QWUzSFs&libraries=places">
  </script>
  <script type="text/javascript">
    window.googleLogoPath = "<%=asset_path('google_logo.png')%>";
    window.facebookLogoPath = "<%=asset_path('facebook_logo.png')%>";
    window.defaultBusinessPhoto = "<%= asset_path('default_business_photo.png') %>";
  </script>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73901205-1', 'auto');
    ga('send', 'pageview');
  </script>
  <link rel="shortcut icon" href="<%=asset_path('fish.ico')%>" type="image/x-icon" />
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
